<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index Page</title>
</head>
<style>
h1 {text-align: center;}
.img-container {
        text-align: center;
      }
</style>

<body>

  <h1>Computer will help you to recognise the image (Dog or Cat)</h2>
  
  
  
  <details>
  <summary>How I works</summary>
  <p>TI highly trained system using deep learning in same way how human brain works so that I can recoginize the image by seeing it whether it is cat or dog .I acurrently limited to recognise the cat or dog only,so upload only cat or dog image.I have 90 percentage efficieny so some time I might be worng... and I am still learning. </p>
</details>
  
   
  <form action="/upload-image" method="POST" enctype="multipart/form-data">
      <div class="form-group">
          <h2>Upload the image to detect </h2>
          <div class="custom-file">
              <input type="file" name="image" id="image">
           </div>
		 
         <button type="submit">submit</button> 
      </div>
	  
  </form>
<br>
   <br>
<footer>
 <small>&copy; Copyright 2020, under Rikesh</small>
</footer>
</body>

</html>